* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-areas:
        "cabeca"
        "corpo"
        "peh";
    grid-template-columns: 1fr; 
    grid-template-rows: 100px auto 100px; 
    min-height: 100vh;
}

header {
    background-color: #34606c;
    grid-area: cabeca;
}
aside {
    display: none;
}
main {
    background-color: #c4d7e5;
    grid-area: corpo;
}
footer {
    background-color: #34666c;
    grid-area: peh;
}
@media only screen and (max-width: 850px) {
    body {
        grid-template-areas:
        "cabeca"
        "corpo"
        "peh";
        grid-template-rows: 80px auto 80px; 
    }
}
@media only screen and (max-width: 450px) {
    body {
        grid-template-areas:
        "cabeca"
        "corpo"
        "peh";
        grid-template-rows: 50px auto 50px; 
    }
}
@media (max-width: 850px) {
    .carrinho-corpo {
        flex-direction: column;
    }
    .lista-produtos, .resumo-pedido {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .carrinho-corpo {
        flex-direction: column;
    }
    .lista-produtos, .resumo-pedido {
        width: 100%;
    }
}
.dentro-carrinho {
    padding: 40px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo-carrinho {
    margin-bottom: 30px;
    color: #3b5155;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.carrinho-corpo {
    display: flex;
    gap: 30px;
}

.lista-produtos {
    flex: 2; 
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee; /*descobri a misera de uma tirinha chiq super maneirakakkaka*/
}

.card-item img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
.info-item {
    flex: 1;
    margin-left: 20px;
}

.info-item h3 { margin: 0; font-size: 18px; }
.categoria { color: #888888; font-size: 14px; }

.resumo-pedido {
    flex: 1; 
    background: #f7f8f9;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #c4d2e5;
}

.linha-resumo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.total {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.gratis { color: green; font-weight: bold; }

.finalizar {
    width: 100%;
    padding: 15px;
    background-color: #3c3b55;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.link-voltar {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #344a6c;
    text-decoration: none;
    font-size: 14px;
}