body{
       display: grid;
       grid-template-areas:
              "cabeca cabeca"
              "braco corpo"
              "peh peh";
              grid-template-rows: 100px auto 200px;
              grid-template-columns: 400px auto;
}
header {
       background-color:#0A4174;
       grid-area: cabeca;
}
main{
       background-color: #4E8EA2;
       grid-area: corpo;
}
aside{
       background-color:#49769F;
       grid-area: braco;
}

footer{
    background-color:#001D39;
    grid-area: peh;
}

@media only screen and (max-width: 850px){
    body{
        display: grid;
        grid-template-areas:
        "cabeca"
        "braco"
        "corpo"
        "peh";
        grid-template-rows: 100px 50px auto 100px;
        grid-template-columns: auto;
    }
    .letra{
        color: coral;
        
    }
}

@media only screen and (max-width: 450px){
     body{
        display: grid;
        grid-template-areas:
        "cabeca"
        "corpo"
        "peh";
        grid-template-rows: 100px auto 100px;
        grid-template-columns: auto;
    }
    aside{
        display: none;
    }
}
.img_pedute{
   width: 200px;
   height: 200px;  
   border-radius: 10px;
   border: rgb(71, 93, 96) 2px solid;

}
.papi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 50px;
   border: black 2px solid;
   background-color:#BDD8E9;
   width: 200px;
   height: 350px;
   border-radius: 10px;
   text-align: center;
   margin: 10px;
}
button{
    background-color: #007791;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
    
.pag{
    text-decoration: none;
    color: inherit;
    display: contents;
}
.sobre{

    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3b5355; 
    border-radius: 5px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
   